@import "normalize.css";
@import url("../src/assets/styles/container.css");
@import url("../src/assets/styles/reset.css");
@import url("../src/assets/styles/variables.css");
@import url("../src/assets/styles/fonts.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: var(--font-family);
  overflow-x: hidden;
}
